<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" name="org.lunifera.entitydsl.samples.sample06.dtos.mapper.boatdtomapper">
       <implementation class="org.lunifera.entitydsl.samples.sample06.dtos.mapper.BoatDtoMapper"/>
       <service>
		<provide interface="org.lunifera.dsl.dto.lib.IMapper"/>
		  </service>
		  
		<property name="fordto.from.entity" type="String" value="org.lunifera.entitydsl.samples.sample06.Boat"/>
		<property name="fordto.to.dto" type="String">org.lunifera.entitydsl.samples.sample06.dtos.BoatDto
		org.lunifera.entitydsl.samples.sample06.dtos.VehicleDto
		</property>

		<property name="forentity.from.dto" type="String" value="org.lunifera.entitydsl.samples.sample06.dtos.BoatDto"/>
		<property name="forentity.to.entity" type="String">org.lunifera.entitydsl.samples.sample06.Boat
		org.lunifera.entitydsl.samples.sample06.Vehicle
		</property>
		
		<property name="service.pid" type="String" value="org.lunifera.entitydsl.samples.sample06.dtos.mapper.boatdtomapper"/>
		<reference name="bind" interface="org.lunifera.dsl.dto.lib.IMapperAccess" 
				cardinality="1..1" policy="static" bind="bindMapperAccess" unbind="unbindMapperAccess"/>
</scr:component>
