bin/
.*.jar
**/xtend-gen
.DS_Store
target
.classpath
.settings
xtend-gen/
plugin.xml_gen
.project
/build.dsl.kepler.latest.log.properties
org.lunifera.dsl.entity.xtext.tests/luniferaDb/*
org.lunifera.dsl.eclipse.ui.examples/contents/*
