bin/
.*.jar
**/xtend-gen
.DS_Store
target
.settings
xtend-gen/
plugin.xml_gen
/build.dsl.kepler.latest.log.properties
/build.dsl.luna.latest.log.properties
/build.org.lunifera.dsl.p2.luna.latest.log.properties
org.lunifera.dsl.entity.xtext.tests/luniferaDb/*
org.lunifera.dsl.eclipse.ui.examples/contents/*
