<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated types -->
      <package
            uri="http://www.lunifera.org/dsl/common/types/v1"
            class="org.lunifera.dsl.semantic.common.types.LunTypesPackage"
            genModel="org.lunifera.dsl.semantic.common/model/types.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated entity -->
      <package
            uri="http://www.lunifera.org/dsl/entity/v1"
            class="org.lunifera.dsl.semantic.entity.EntityPackage"
            genModel="org.lunifera.dsl.semantic.entity/model/entity.xcore"/>
   </extension>

</plugin>
