/org.lunifera.dsl.entity.xtext.tests.blobtests.mapper.FoobarDtoMapper.xml
/org.lunifera.dsl.entity.xtext.tests.classinheritance.mapper.BaseByClassDtoMapper.xml
/org.lunifera.dsl.entity.xtext.tests.classinheritance.mapper.BaseBySubclassDtoMapper.xml
/org.lunifera.dsl.entity.xtext.tests.classinheritance.mapper.OneByClassDtoMapper.xml
/org.lunifera.dsl.entity.xtext.tests.classinheritance.mapper.OneBySubclassDtoMapper.xml
/org.lunifera.dsl.entity.xtext.tests.classinheritance.mapper.TwoByClassDtoMapper.xml
/org.lunifera.dsl.entity.xtext.tests.classinheritance.mapper.TwoBySubclassDtoMapper.xml
/org.lunifera.dsl.entity.xtext.tests.model.testcarstore2.mapper.AddressDtoMapper.xml
/org.lunifera.dsl.entity.xtext.tests.model.testcarstore2.mapper.CarDtoMapper.xml
/org.lunifera.dsl.entity.xtext.tests.model.testcarstore2.mapper.CustomerDtoMapper.xml
/org.lunifera.dsl.entity.xtext.tests.model.testcarstore2.mapper.EmployeeDtoMapper.xml
/org.lunifera.dsl.entity.xtext.tests.model.testcarstore2.mapper.ManufacturerDtoMapper.xml
/org.lunifera.dsl.entity.xtext.tests.model.testcarstore2.mapper.PersonDtoMapper.xml
/org.lunifera.dsl.entity.xtext.tests.model.testcarstore2.mapper.UsedCarDtoMapper.xml
/org.lunifera.dsl.entity.xtext.tests.selfreference.mapper.TreeEmployeeDtoMapper.xml
/org.lunifera.entitydsl.documentation.common.mapper.ABarDtoMapper.xml
/org.lunifera.entitydsl.documentation.demo.mapper.BarDtoMapper.xml
/org.lunifera.entitydsl.documentation.demo.mapper.FooDtoMapper.xml
/org.lunifera.dsl.tests.carstore.entities.dtos.services.AddonService.xml
/org.lunifera.dsl.tests.carstore.entities.dtos.services.AddressService.xml
/org.lunifera.dsl.tests.carstore.entities.dtos.services.BaseService.xml
/org.lunifera.dsl.tests.carstore.entities.dtos.services.CarService.xml
/org.lunifera.dsl.tests.carstore.entities.dtos.services.PersonService.xml
