<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" enabled="true" immediate="false" name="org.lunifera.dsl.tests.carstore.entities.dtos.mapper.persondtomapper">
       <implementation class="org.lunifera.dsl.tests.carstore.entities.dtos.mapper.PersonDtoMapper"/>
       <service>
		<provide interface="org.lunifera.dsl.dto.lib.IMapper"/>
	   </service>
       <property name="dto" type="String" value="org.lunifera.dsl.tests.carstore.entities.dtos.PersonDto"/>
       <property name="entity" type="String" value="org.lunifera.dsl.tests.carstore.entities.Person"/>
       <property name="service.pid" type="String" value="org.lunifera.dsl.tests.carstore.entities.dtos.mapper.persondtomapper"/>
       <reference name="bind" interface="org.lunifera.dsl.dto.lib.IMapperAccess" 
       		cardinality="1..1" policy="static" bind="bindMapperAccess" unbind="unbindMapperAccess"/>
</scr:component>
