/org.lunifera.dsl.entity.tests.datatypes.dtos
/org.lunifera.entitydsl.documentation.demo.dtos
/org.lunifera.dsl.entity.xtext.tests.blobtests.dtos
/org.lunifera.dsl.entity.xtext.tests.classinheritance.dtos
/org.lunifera.dsl.entity.xtext.tests.model.testcarstore2.dtos
/org.lunifera.dsl.entity.xtext.tests.selfreference.dtos
/org.lunifera.entitydsl.documentation.common.dtos
