<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="organizationmodel"
            id="org.lunifera.dsl.organization.xtext.OrganizationDsl"
            name="OrganizationDsl Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.lunifera.dsl.organization.xtext.OrganizationDsl.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.lunifera.dsl.organization.xtext.OrganizationDsl.validate">
         <activeWhen>
            <reference
                    definitionId="org.lunifera.dsl.organization.xtext.OrganizationDsl.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.lunifera.dsl.organization.xtext.OrganizationDsl.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.lunifera.dsl.organization.xtext.OrganizationDsl" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
              category="org.lunifera.eclipse.ui.preferences.RootPreferencePage"
              class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
              id="org.lunifera.dsl.organization.xtext.OrganizationDsl"
              name="OrganizationDsl">
            <keywordReference id="org.lunifera.dsl.organization.xtext.ui.keyword_OrganizationDsl"/>
        </page>
        <page
            category="org.lunifera.dsl.organization.xtext.OrganizationDsl"
            class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.lunifera.dsl.organization.xtext.OrganizationDsl.coloring"
            name="Syntax Coloring">
            <keywordReference id="org.lunifera.dsl.organization.xtext.ui.keyword_OrganizationDsl"/>
        </page>
        <page
            category="org.lunifera.dsl.organization.xtext.OrganizationDsl"
            class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.lunifera.dsl.organization.xtext.OrganizationDsl.templates"
            name="Templates">
            <keywordReference id="org.lunifera.dsl.organization.xtext.ui.keyword_OrganizationDsl"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
              category="org.lunifera.eclipse.ui.rootPropertyPage"
              class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
              id="org.lunifera.dsl.organization.xtext.OrganizationDsl"
              name="OrganizationDsl">
            <keywordReference id="org.lunifera.dsl.organization.xtext.ui.keyword_OrganizationDsl"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.lunifera.dsl.organization.xtext.ui.keyword_OrganizationDsl"
            label="OrganizationDsl"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="org.lunifera.dsl.organization.xtext.OrganizationDsl.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.lunifera.dsl.organization.xtext.OrganizationDsl.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.lunifera.dsl.organization.xtext.OrganizationDsl.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="org.lunifera.dsl.organization.xtext.OrganizationDsl.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.lunifera.dsl.organization.xtext.OrganizationDsl.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="luniOrganization">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="luniOrganization">
        </resourceServiceProvider>
    </extension>

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="organization">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="organization">
        </resourceServiceProvider>
    </extension>


    <!-- marker definitions for org.lunifera.dsl.organization.xtext.OrganizationDsl -->
    <extension
            id="organizationdsl.check.fast"
            name="OrganizationDsl Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.fast"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="organizationdsl.check.normal"
            name="OrganizationDsl Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.normal"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="organizationdsl.check.expensive"
            name="OrganizationDsl Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.expensive"/>
        <persistent value="true"/>
    </extension>

   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="org.lunifera.dsl.organization.xtext.OrganizationDsl"
            class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="org.lunifera.dsl.organization.xtext.OrganizationDsl.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="org.lunifera.dsl.organization.xtext.ui.keyword_OrganizationDsl"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="org.lunifera.dsl.organization.xtext.OrganizationDsl"
            class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="org.lunifera.dsl.organization.xtext.OrganizationDsl.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="org.lunifera.dsl.organization.xtext.ui.keyword_OrganizationDsl"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.lunifera.dsl.organization.xtext.OrganizationDsl.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.lunifera.dsl.organization.xtext.OrganizationDsl.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for org.lunifera.dsl.organization.xtext.OrganizationDsl -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.lunifera.dsl.organization.xtext.ui.organizationdsl.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.lunifera.dsl.organization.xtext.ui.organizationdsl.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.lunifera.dsl.organization.xtext.ui.organizationdsl.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.IRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.lunifera.dsl.organization.xtext.OrganizationDsl.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.lunifera.dsl.organization.xtext.OrganizationDsl.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="org.lunifera.dsl.organization.xtext.OrganizationDsl"
	        class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="org.lunifera.dsl.organization.xtext.OrganizationDsl.refactoring"
	        name="Refactoring">
	        <keywordReference id="org.lunifera.dsl.organization.xtext.ui.keyword_OrganizationDsl"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="org.lunifera.dsl.organization.xtext.OrganizationDsl.compare.contentViewers"
            class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="organizationmodel">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="org.lunifera.dsl.organization.xtext.OrganizationDsl.compare.contentMergeViewers"
            class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="organizationmodel" label="OrganizationDsl Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="org.lunifera.dsl.organization.xtext.OrganizationDsl.editors.documentProviders"
            class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="organizationmodel">
    </provider>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
              <wizard
            name="Organization Model"
            icon="icons/organization_planning_16.png"
            category="org.lunifera.ui.wizards.category"
            class="org.lunifera.dsl.organization.xtext.ui.OrganizationGrammarExecutableExtensionFactory:org.lunifera.dsl.organization.xtext.ui.wizards.LuniferaNewOrganizationModelWizard"
            id="org.lunifera.ide.ui.wizards.luniferaNewOrganizationModelWizard">
      </wizard>
        
  </extension>

</plugin>
