<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.lunifera.dsl.Examples" 
				  name="Lunifera DSL Examples" 
				  parentCategory="org.eclipse.ui.Examples" />
	</extension>

   <!-- ========= org.lunifera.dsl.examples.EntityExamples ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.lunifera.dsl.examples.EntityExamples" 
			name="EntityDSL Samples" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.lunifera.dsl.Examples"
			icon="icons/Lunifera_16.png" 
			project="true">
			<description>Installs the Lunifera Entity DSL examples</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	  <example wizardID="org.lunifera.dsl.examples.EntityExamples" pageImage="icons/Lunifera_16.png">
		 <projectDescriptor name="org.lunifera.dsl.examples.entity" contentURI="contents/org.lunifera.dsl.examples.entity.zip" description="A hands-on tutorial to learn the Lunifera Entity DSL."/>
	  </example>
   </extension>
</plugin>
