<?xml version="1.0" encoding="UTF-8"?>
<components xmlns:scr="http://www.osgi.org/xmlns/scr/v1.0.0">
   <scr:component name="org.lunifera.dsl.entity.xtext.tests.blobtests.mapper.foobardtomapper">
       <implementation class="org.lunifera.dsl.entity.xtext.tests.blobtests.mapper.FoobarDtoMapper"/>
       <property name="dto" value="org.lunifera.dsl.entity.xtext.tests.blobtests.FoobarDto"/>
       <property name="entity" value="org.lunifera.dsl.entity.xtext.tests.blobtests.Foobar"/>
       <property name="service.pid" value="org.lunifera.dsl.entity.xtext.tests.blobtests.mapper.foobardtomapper"/>
       <reference name="bind" interface="org.lunifera.dsl.dto.common.IMapperAccess" 
       		cardinality="1..1" policy="static" bind="bindMapperAccess" unbind="unbindMapperAccess"/>
   </scr:component>
</components>
