<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" name="org.lunifera.dsl.entity.xtext.tests.selfreference.dtos.mapper.treeemployeedtomapper">
       <implementation class="org.lunifera.dsl.entity.xtext.tests.selfreference.dtos.mapper.TreeEmployeeDtoMapper"/>
       <service>
		<provide interface="org.lunifera.dsl.dto.lib.IMapper"/>
		  </service>
		  
		<property name="fordto.from.entity" type="String" value="org.lunifera.dsl.entity.xtext.tests.selfreference.TreeEmployee"/>
		<property name="fordto.to.dto" type="String" value="org.lunifera.dsl.entity.xtext.tests.selfreference.dtos.TreeEmployeeDto"/>

		<property name="forentity.from.dto" type="String" value="org.lunifera.dsl.entity.xtext.tests.selfreference.dtos.TreeEmployeeDto"/>
		<property name="forentity.to.entity" type="String" value="org.lunifera.dsl.entity.xtext.tests.selfreference.TreeEmployee"/>
		
		<property name="service.pid" type="String" value="org.lunifera.dsl.entity.xtext.tests.selfreference.dtos.mapper.treeemployeedtomapper"/>
		<reference name="bind" interface="org.lunifera.dsl.dto.lib.IMapperAccess" 
				cardinality="1..1" policy="static" bind="bindMapperAccess" unbind="unbindMapperAccess"/>
</scr:component>
