<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.jdt.core.classpathContainerInitializer">            
   		<classpathContainerInitializer                                          
			id="org.lunifera.dsl.entity.ENTITY_CONTAINER"                                                        
			class="org.lunifera.dsl.eclipse.ui.buildpath.EntityContainerInitializer"/>                           
	</extension>
	<extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="Lunifera modeling container"
            class="org.lunifera.dsl.eclipse.ui.buildpath.EntityContainerWizardPage"
            id="org.lunifera.dsl.entity.ENTITY_CONTAINER">
      </classpathContainerPage>
   </extension>

</plugin>
