<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <!-- <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Lunifera Wizards"
            id="org.lunifera.ui.wizards.category">
      </category>
      <wizard
            category="org.lunifera.ui.wizards.category"
            class="org.lunifera.eclipse.ui.utils.LuniferaUiExecutableExtensionFactory:org.lunifera.eclipse.ui.wizards.LuniferaNewProjectWizard"
            icon="icons/Lunifera_16.png"
            id="LuniferaUiExecutableExtensionFactory:"
            name="Lunifera Modeling Project"
            project="true">
      </wizard>
   </extension> -->
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.lunifera.eclipse.ui.utils.LuniferaUiExecutableExtensionFactory:org.lunifera.eclipse.ui.perspectives.LuniferaPerspective"
            icon="icons/Lunifera_16.png"
            id="org.lunifera.ide.ui.perspectives.LuniferaPerspective"
            name="Lunifera">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Lunifera Tools"
            class="org.lunifera.eclipse.ui.utils.LuniferaUiExecutableExtensionFactory:org.lunifera.eclipse.ui.preferences.LuniferaPreferencePage"
            id="org.lunifera.eclipse.ui.preferences.RootPreferencePage">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.lunifera.eclipse.ui.utils.LuniferaUiExecutableExtensionFactory:org.lunifera.eclipse.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.lunifera.eclipse.ui.views.category.Resources"
            name="Lunifera Views">
      </category>
      <view
            name="View"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="example.view">
      </view>
      <view
            category="org.lunifera.eclipse.ui.views.category.Resources"
            class="org.lunifera.eclipse.ui.utils.LuniferaUiExecutableExtensionFactory:org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/Lunifera_16.png"
            id="org.lunifera.eclipse.ui.views.Navigator"
            name="Lunifera Navigator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.lunifera.eclipse.ui.views.Navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.lunifera.eclipse.ui.views.Navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="org.lunifera.eclipse.ui.views.Navigator"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.lunifera.ide.ui.perspectives.LuniferaPerspective">
         <view
               id="org.lunifera.eclipse.ui.views.Navigator"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.lunifera.dsl.eclipse.ui.WorkbenchPropertyPage1"
            icon="icons/Lunifera_16.png"
            id="org.lunifera.eclipse.ui.rootPropertyPage"
            name="Lunifera Tools">
      </page>
   </extension>
   
   <extension point="org.eclipse.jdt.core.classpathContainerInitializer">            
   		<classpathContainerInitializer                                          
			id="org.lunifera.dsl.entity.ENTITY_CONTAINER"                                                        
			class="org.lunifera.dsl.eclipse.ui.buildpath.EntityContainerInitializer"/>                           
	</extension>
	<extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="Lunifera modeling container"
            class="org.lunifera.dsl.eclipse.ui.buildpath.EntityContainerWizardPage"
            id="org.lunifera.dsl.entity.ENTITY_CONTAINER">
      </classpathContainerPage>
   </extension>

</plugin>
