<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" name="org.lunifera.dsl.xtext.builder.participant.tests.mapper.superclassdtomapper">
       <implementation class="org.lunifera.dsl.xtext.builder.participant.tests.mapper.SuperClassDtoMapper"/>
       <service>
		<provide interface="org.lunifera.dsl.dto.lib.IMapper"/>
	   </service>
		<property name="dto" type="String" value="org.lunifera.dsl.xtext.builder.participant.tests.SuperClassDto"/>
       <property name="entity" type="String" value="org.lunifera.dsl.xtext.builder.participant.tests.SuperClass"/>
       <property name="service.pid" type="String" value="org.lunifera.dsl.xtext.builder.participant.tests.mapper.superclassdtomapper"/>
       <reference name="bind" interface="org.lunifera.dsl.dto.lib.IMapperAccess" 
       		cardinality="1..1" policy="static" bind="bindMapperAccess" unbind="unbindMapperAccess"/>
</scr:component>
