<?xml version="1.0" encoding="UTF-8"?>
<components xmlns:scr="http://www.osgi.org/xmlns/scr/v1.0.0">
   <scr:component name="org.lunifera.dsl.xtext.builder.participant.tests.other.dtos.mapper.otherdtomapper">
       <implementation class="org.lunifera.dsl.xtext.builder.participant.tests.other.dtos.mapper.OtherDtoMapper"/>
       <property name="dto" value="org.lunifera.dsl.xtext.builder.participant.tests.other.dtos.OtherDto"/>
       <property name="entity" value="org.lunifera.dsl.xtext.builder.participant.tests.other.OtherEntity"/>
       <property name="service.pid" value="org.lunifera.dsl.xtext.builder.participant.tests.other.dtos.mapper.otherdtomapper"/>
       <reference name="bind" interface="org.lunifera.dsl.dto.common.IMapperAccess" 
       		cardinality="1..1" policy="static" bind="bindMapperAccess" unbind="unbindMapperAccess"/>
   </scr:component>
</components>
