<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated OrganizationDsl -->
      <package
            uri="http://www.lunifera.org/dsl/organization/v1"
            class="org.lunifera.dsl.organization.semantic.model.OrganizationPackage"
            genModel="model/OrganizationDsl.genmodel"/>
   </extension>

</plugin>
